# Dependency folders (very heavy, should not be on GitHub)
node_modules/

# Local environment variables (contains your Twilio/Database secrets)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db