* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1f9 100%) !important;
  font-family: 'Inter', system-ui, sans-serif;
}
